


.footer {
    background-color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .footer{
    display: flex;
    padding-left: 6%;
    grid-gap: 10px;
    list-style-type: none;
    gap: 10%;
    margin-top: 1px;
    padding-top: 20px;
      
    
  }

  .footer ul{
   color: rgba(26, 11, 11, 0.801);
  }
  